@use "../global/vars" as *;
@use "../global/mixins" as *;

.hero {

  padding: 40px 0 40px;

  @include max($bp-tablet) {
    padding: 42px 0 56px;
  }
  
  @include max($bp-mob) {
    padding: 30px 0 44px;
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, 630px) minmax(0, 655px);
    gap: 34px;
    @include adaptive-value(gap, 34px, 20px, $bp-desktop, $bp-mob);
    align-items: start;

    @include max($bp-tablet) {
      grid-template-columns: 1fr;
     
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    
    height: 100%;

    @include max($bp-mob-lg) {
     
    }
  }

  &__subtitle {
    display: none;
  }

  &__title {
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: 700;
    @include adaptive-font(25, 50);
    line-height: 110%;
    text-transform: uppercase;
    color: #c09b57;

    height: fit-content;

    margin-bottom: 10px;
  }

  &__text {
    max-width: 520px;
    margin-bottom: 60px;
    @include adaptive-value(margin-bottom, 60px, 40px, $bp-desktop, $bp-mob);
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    @include adaptive-font(14, 18);
    line-height: 130%;
    color: #222;
  }

  &__bottom {
    margin-top: auto;
  }

  &__note {
    margin-bottom: 40px;
    @include adaptive-value(margin-bottom, 40px, 20px, $bp-desktop, $bp-mob);
    font-family:$font-family;
    font-weight: 600;
    font-size: 18px;
    @include adaptive-font (14, 18);
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222;
    max-width: 500px;
  }

  &__actions {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    
    @include max($bp-desktop) {
      flex-wrap: wrap;
    }

    @include max($bp-mob-lg) {
      gap: 10px;
    }

    @include max($bp-mob) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__btn { 
    width: 310px;
    white-space: nowrap;
    border-radius: 999px;
   

    @include max($bp-mob-lg) {

    }

    @include max($bp-mob) {
      width: 100%;
    }
  }

  &__media {
    min-width: 0;
    height: 100%;
  }

  &__slider {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #ddd;
    height: 100%;
  }

  &__slide {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    display: block;

    @include max($bp-tablet) {
      aspect-ratio: 1100 / 620;
    }

    @include max($bp-mob) {
      aspect-ratio: 720 / 560;
    }
  }

  &__controls {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: grid;
    grid-template-columns: 44px 1fr 44px;
    align-items: center;
    gap: 12px;
    

    z-index: 10;
    width: fit-content;
    margin: 0 auto;

    @include max($bp-mob) {
      left: 12px;
      right: 12px;
      bottom: 12px;
      grid-template-columns: 42px 1fr 42px;
    }
  }

  &__arrow {
    background: none;
    outline: none;
    border: none;
    z-index: 6;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dots {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 999px;
      background: rgba(255, 255, 255, 0.5);
      opacity: 1;
      margin: 0 6px !important;
      transition: transform 0.2s ease, background 0.2s ease;
    }

    .swiper-pagination-bullet-active {
      background: rgba(255, 255, 255, 0.95);
      transform: scale(1.1);
    }
  }
}