@use "mixins" as *;
@use "vars" as *;

body {
  background: #f3ece6;
}

.btn {
  padding: 14px 20px;
  border-radius: 12px;
  font-weight: 700;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s ease;

  height: 60px;
  @include adaptive-value(height, 60px, 52px, 1440px, 650px);
  

  border-radius: 100px;

  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  @include adaptive-font(16, 20);
  line-height: 130%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #f7f7f7;

  

  &--primary {
    background: #c09b57;
    color: #f7f7f7;

    transition: .2s ease;

    @include hover-desktop {
     background: #cea75e;
     transition: .2s ease;
    }
    &:active {
      background-color: #b6914b;
      transition: .2s ease;
    }
  }

  &--grey {
    background: #222;
    color: #fff;

    @include hover-desktop {
      background: #353535;
      transition: .2s ease;
    }
    &:active {
      background-color: #222;
      transition: .2s ease;
    }
  }

  @include hover-desktop {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px) scale(0.98);
  }
}

.cta-banner__input {
	background: #fff;
	color: #222;
	border: 1.5px solid transparent;
	transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

	&:hover,
	&:focus,
	&:active {
		border-color: #c09b57;
		outline: none;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-text-fill-color: #fff;
		-webkit-box-shadow: 0 0 0 1000px #c1a166 inset;
		box-shadow: 0 0 0 1000px #c1a166 inset;
		border: 1.5px solid #c09b57;
		caret-color: #fff;
		transition: background-color 9999s ease-in-out 0s;
	}
}

.cta-banner:not(.cta-banner--light) .cta-banner__submit {

  @include hover-desktop {
    transform: translateY(-2px);
    background: #353535;
    color: #fff;
    transition: .2s ease;
  }
  &:active {
    background: #222;
    color: #fff;
    transition: .2s ease;
  }
}

.cta-banner--light .cta-banner__submit {

  @include hover-desktop {
    transform: translateY(-2px);
    background: #cea75e;
    color: #fff;
    transition: .2s ease;
  }
  &:active {
    background: #b6914b;
    color: #fff;
    transition: .2s ease;
  }
}

.cta-banner__submit {
  @include min($bp-tablet) {
    max-width: 210px;
  }
}



// scrollbar

/* Firefox (uncomment to work in Firefox) */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #C09B57 #F3ECE6;
} */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #F3ECE6;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F3ECE6;
}

*::-webkit-scrollbar-track:active {
  background-color: #F3ECE6;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #C09B57;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #C09B57;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #C09B57;
}
