$bp-desktop: 1200px;
$bp-tablet: 991px;
$bp-mob-lg: 768px;
$bp-mob: 650px;

$container-max: 1440px;

$font-main: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

$color-text: #0f0f0f;
$color-bg: #ffffff;

$easing: cubic-bezier(0.22, 1, 0.36, 1);


$font-family: "Roboto", sans-serif;
$second-family: "Onest", sans-serif;
