@use "../global/vars" as *;
@use "../global/mixins" as *;

.payment-delivery-guarantee {
	margin-top: 120px;
	@include adaptive-value(margin-top, 120px, 60px, $bp-desktop, $bp-mob);
	--payment-delivery-guarantee-inline: 60px;

	@media (max-width: 1400px) {
		--payment-delivery-guarantee-inline: 20px;
	}

	@media (max-width: 650px) {
		--payment-delivery-guarantee-inline: 16px;
	}

	&__container {
		@include min($bp-tablet + 1px) {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__media {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
		min-height: 420px;
		object-fit: cover;

		@include max($bp-tablet) {
			min-height: 520px;
		}

		@include max($bp-mob) {
			min-height: 360px;
			aspect-ratio: 320 / 480;
		}
	}

	&__card {
		position: absolute;
		top: 20px;
		left: calc((100vw - min(100vw, #{$container-max})) / 2 + var(--payment-delivery-guarantee-inline));
		max-width: 560px;
		border-radius: 10px;
		background: #f3ece6;
		padding: 40px;
		@include adaptive-value(padding, 40px, 10px, $bp-desktop, $bp-mob);

		@include max($bp-mob) {
			right: 10px;
			left: 10px;
			top: 10px;
			max-width: none;
		}
	}

	&__title {
		margin: 0 0 10px;

		@include max($bp-mob) {
			max-width: 90%;
			br {
				display: none;
			}
		}
	}

	&__lead {
		margin: 0;

		max-width: 450px;

		b, strong {
			font-weight: 700;
		}
	}
}
